<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>News-Feed: my news</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div>
    <h1 >reset</h1>
    <form th:object="${passwordDto}" action="/change-password" method="post">
        <div class="form-group">
            <label for="password">New Password</label>
            <input th:field="*{password}"  type="password" class="form-control" id="password"  placeholder="Password">
        </div>
        <div>
            <p style="color: darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
                Error</p>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input th:field="*{confirmPassword}" type="password" class="form-control" id="passwordConfirm" placeholder="Confirm password">
        </div>

        <div  >
            <p style="color: darkred"  th:if="${#fields.hasErrors('global')}" th:errors="*{global}" >Name
                Error</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
