<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder: Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>


<section class="login-section">
    <!--    <img class="login-section-image" src="./img/Union.png" alt="404">-->
    <header class="header">
        <a href="./login.html" class="header-link"><img src="img/Group%201.png" alt="IBA Tech Academy"></a>
    </header>
    <div class="login-section-container">
        <!--        <img src="img/Union.png">-->
        <h1 class="login-section-container-title">Welcome Back!</h1>
        <p class="login-section-container-description">To keep connected with us please login with personal information by email address and password</p>
        <form th:action="@{/index}" class="login-section-container-form" method="post">
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="./img/mail-icon.svg" alt="User Icon">
                <label for="email"></label>
                <input  class="login-section-container-form-input" id="email" placeholder="Email address" name="email" type="email">
            </div>
            <div class="login-section-container-form-input-wrapper">
                <img class="input-icons" src="./img/lock-icon.svg" alt="User Icon">
                <label for="password"></label>
                <input class="login-section-container-form-input" name="password" id="password" placeholder="Password" type="password">
            </div>
            <div>
                <p style="color: darkred" th:if="${param.error}" th:text="#{login.error}">
                    Error
                </p>
            </div>
            <div>
                <p style="color: darkred" th:if="${param.tokenError}" th:text="${param.tokenError}">Name
                    Error</p>
            </div>

            <div class="login-section-container-options">
                <div class="login-section-container-options-wrapper">
                    <label class="login-section-container-options-checkbox-wrapper">Remember Me
                        <input name="remember-me" type="checkbox" class="login-section-container-options-old-checkbox">
                        <span class="login-section-container-options-checkmark"></span>
                    </label>
                </div>
                <a href="forgot-password" class="login-section-container-options-link">Forgot password?</a>
            </div>
            <div class="login-section-form-buttons">
                <input th:type="submit" class="login-section-container-form-login" value="Login now">
                <a href="registration" class="login-section-container-form-signup">Create account</a>
            </div>
        </form>
    </div>
</section>

<script src="./js/checkbox.js"></script>
</body>
</html>